<?xml version="1.0" ?>
<launch>


  <group if="$(eval arg('auv') == 'beluga')">
    <include file="$(find beluga_description)/launch/upload_beluga.launch">
      <arg name="camerafront" value="$(arg camerafront)"/>
      <arg name="cameraunder" value="$(arg cameraunder)"/>
    </include>
  </group>

  <group if="$(eval arg('auv') == 'manta')">
    <include file="$(find manta_description)/launch/upload_manta.launch">
      <arg name="camerafront" value="$(arg camerafront)"/>
      <arg name="cameraunder" value="$(arg cameraunder)"/>
    </include>
  </group>

  <group if="$(eval arg('auv') == 'gladlaks')">
    <include file="$(find beluga_description)/launch/upload_beluga.launch">
      <arg name="camerafront" value="$(arg camerafront)"/>
      <arg name="cameraunder" value="$(arg cameraunder)"/>
    </include>
  </group>

</launch>
