<?xml version="1.0" ?>
<launch>
  <arg name="gui" default="true"/>
  <arg name="camerafront" default="1"/>
  <arg name="cameraunder" default="0"/>
  <arg name="paused" default="false"/>
  <arg name="set_timeout" default="false"/>
  <arg name="timeout" default="0.0"/>
  <arg name="pool" default="cybernetics_pool"/>
  <arg name="sm" default ="gladlaks"/>
  <arg name="auv" default ="gladlaks"/>


  <include file="$(find uuv_descriptions)/launch/$(arg pool).launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="set_timeout" value="$(arg set_timeout)"/>
    <arg name="timeout" value="$(arg timeout)"/>
  </include>

  <include file="$(find simulator_launch)/launch/auv_models.launch" pass_all_args="true"/>

  <include file="$(find simulator_thruster_manager)/launch/thruster_manager.launch"/>

  <group if="$(eval arg('auv') == 'beluga')">
    <include file="$(find auv_setup)/launch/gladlaks.launch" >
      <arg name="type" value="simulator"/>
    </include>
  </group>

  <group if="$(eval arg('auv') == 'gladlaks')">
    <include file="$(find auv_setup)/launch/gladlaks.launch" >
      <arg name="type" value="simulator"/>
    </include>
  </group>

  <group if="$(eval arg('auv') == 'manta')">
    <include file="$(find auv_setup)/launch/manta.launch" >
      <arg name="type" value="simulator"/>
    </include>
  </group>

</launch>
