<?xml version="1.0"?>

<model>
  <name>torpedo-bootlegger</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Christopher Strøm</name>
    <email>christopher.strom@vortexntnu.no</email>
  </author>

  <description>
    Torpedo task, bootlegger version
  </description>
</model>