<?xml version="1.0" ?>
<launch>
  <arg name="gui" default="true"/>
  <arg name="camerafront" default="1"/>
  <arg name="cameraunder" default="1"/>
  <arg name="paused" default="false"/>
  <arg name="set_timeout" default="false"/>
  <arg name="timeout" default="0.0"/>
  <arg name="auv" default="beluga"/>

  <!-- This is where the robosub items and pool is launced -->
  <include file="$(find uuv_descriptions)/launch/robosub2022_pool.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="set_timeout" value="$(arg set_timeout)"/>
    <arg name="timeout" value="$(arg timeout)"/>
  </include>

  <!-- This is where the AUV gets spawned -->
  <include file="$(find beluga_description)/launch/upload_beluga.launch"/>

  <!-- Thrust allocation for the simulator specifically -->
  <include file="$(find gazebo_thruster_manager)/launch/thruster_manager.launch"/>

</launch>
