<?xml version="1.0" ?>
<model>
    <name>Torpedo_targets</name>
    <version>1.0</version>
    <sdf version="1.5">torpedo_targets.sdf</sdf>
    <author>
        <name>Kristian Auestad</name>
        <email>krisaue@stud.ntnu.no</email>
    </author>
    <description>A model for the competition torpedos</description>
</model>
