<?xml version="1.0" ?>
<model>
    <name>Basin_pool</name>
    <version>1.0</version>
    <sdf version="1.5">Basin_pool.sdf</sdf>
    <author>
        <name>Ambjørn Grimsrud Waldum</name>
        <email>ambjornw@stud.ntnu.no</email>
    </author>
    <description>A model of a bowl in water</description>
</model>
