<?xml version="1.0"?>

<model>
  <name>octagon-gman</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Christopher Strøm</name>
    <email>christopher.strom@vortexntnu.no</email>
  </author>

  <description>
    Octagon task, gman version
  </description>
</model>