<?xml version="1.0" ?>
<model>
    <name>Vortex_pool</name>
    <version>1.0</version>
    <sdf version="1.5">UoMpool.sdf</sdf>
    <author>
        <name>Christopher Strøm</name>
        <email>christopher.strom@vortexntnu.no</email>
    </author>
    <description>A model of the pool used in the 2022 RoboSub competition</description>
</model>
